body {
  padding-top: 0px;
}

.bg {
  background-image: url('./images/silvertonB.jpg');
  height: 70vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#trailTimeLogoHomePage {
    display: block;
    left: 50vw;
    max-width:90vw;
    width: auto;
    margin: auto;
}

.infoContainer {
    background-color: #dec235;
    padding: 20px;
    border-top: 5px solid rgba(255,255,255,.2);
    background-image: url("./images/green-dust-and-scratches.png");
}

.infoText {
  font-weight: 500;
  line-height: 1.4em;
  width: 80vw;
  margin: 0 auto;
}

.logInBtn {
  background-color: #3B2974;
  color: white;
  padding: 10px;
  font-family: intro, 'Covered By Your Grace', cursive;
  line-height: 1.1em;
  font-weight: lighter;
  font-size: 4.5vw;
  border: none;
  cursor: pointer;
  margin-top: -15px;
}

.footerHomePage {
    border-top: 2px solid #D1B44D;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    clear: both;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    font-size: .8em;
}

.sideImage, .leftcollage, .rightcollage {
  display: none;
}



@media screen and (min-width: 568px) and (orientation: landscape) {
  
  .homeBody {
    margin: 0 auto;
    position: relative;
  }
  
  .bg {
    background-position-y: 75%;
  }

  .infoText {
    width: 90vw;
  }

  .logInBtn {
    font-size: 2vw;
  }
    
  .leftcollage, .rightcollage {
    z-index: 1;
    position: absolute;
    max-height: 60vh;
    display: block;
  }
    
  .leftcollage {
    top: 7%;
    left: -1%;
  }
  .rightcollage {
    top: 7%;
    right: 1.25%;
  }
    #trailTimeLogoHomePage {
    max-width: 50vw;
  }
  .logInBtn {
    margin-top: 0px;
    font-size: 2.5vw;
    padding-top: 5px;
    padding-bottom: 5px;
  }
    .infoContainer {
    font-size: .8em;
    padding: 8px;
  }

}


@media screen and (min-width: 950px) and (max-width: 1023px) and (orientation: landscape) {
   
  .bg {
    background-position-y: 75%;
  }
}


@media screen and (min-width: 1024px) and (orientation: landscape) {
 
  .homeBody {
    margin: 0 auto;
    position: relative;
  }
  
  .bg {
    background-position-y: 75%;
  }

  .infoContainer {
    font-size: 1.1em;
  }

  .logInBtn {
    font-size: 2vw;
  }
    
  .leftcollage, .rightcollage {
    height: 65%;
    max-height: 80vh;
  }
    
  .leftcollage {
    top: 5%;
    left: -1%;
  }

  .rightcollage {
    top: 5%;
    right: -1.5%;
  }
}