/*body, html {
  height: 100%;
}

header {
  top: 0;
  text-align: center;
  display: block;
}*/

body {
  padding-top: 0px;
}

.bg {
  background-image: url('./images/silvertonB.jpg');
  height: 70vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#trailTimeLogoHomePage {
    display: block;
    left: 50vw;
    max-width:90%;
    width: auto;
    margin: auto;
}

.infoContainer {
    background-color: #dec235;
    padding: 20px;
    border-top: 5px solid rgba(255,255,255,.2);
    background-image: url("./images/green-dust-and-scratches.png");
    /*SOME OTHER IDEAS TO PLAY WITH 
    background-color: #dec235;
    background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
    background-image: url("https://www.transparenttextures.com/patterns/smooth-wall-dark.png");
    background-color: #d1b44d;
    background-image: url("https://www.transparenttextures.com/patterns/textured-stripes.png");
    background-image: url("https://www.transparenttextures.com/patterns/tex2res5.png");
    background-image: url("https://www.transparenttextures.com/patterns/twinkle-twinkle.png");
    background-image: url("https://www.transparenttextures.com/patterns/wall-4-light.png");
  -webkit-mask-image: url("http://support.nature.org/images/earth/assets/grit.png");
  mask-image: url("http://support.nature.org/images/earth/assets/grit.png");*/
}

.infoText {
  font-weight: 500;
  line-height: 1.4em;
  width: 80vw;
  margin: 0 auto;
}

.loginbtn {
  background-color: #3B2974;
  color: white;
  padding: 10px;
  font-family: intro, 'Covered By Your Grace', cursive;
  line-height: 1.1em;
  font-weight: lighter;
  font-size: 5vw;
  border: none;
  cursor: pointer;
}

.footerHomePage {
    border-top: 2px solid #D1B44D;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    clear: both;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    font-size: .8em;
}

.infoContainerWideScreen{
    display: none;
}

.sideImage {
  display: none;
}

#trailTimeLogoHomePage2 {
  display: none;
}


@media screen and (min-width: 950px) and (orientation : landscape) {

    .homeBody {
        margin: 0 auto;
        position: relative;
    }
.bg {
  background-position-y: 75%;
}


    .infoText {
      width: 50vw;
    }

    .loginbtn {
        background-color: #3B2974;
        color: white;
        padding: 10px;
        font-family: intro, 'Covered By Your Grace', cursive;
        line-height: 1.1em;
        font-weight: lighter;
        font-size: 2.5vw;
        border: none;
        cursor: pointer;
    }
    .sideImage {
      z-index: 1;
      position: absolute;
      border: 5px solid white;
      border-radius: 4px;
      width: 20%;
      display: block;
    }
    .img1L {
      top: 2%;
      left: 1%;
      transform: rotate(-2deg);
    }
    .img2L {
      top: 25%;
      left: 4%;
      transform: rotate(5deg);
    }

    .img3L {
      top: 50%;
      left: 1%;
      transform: rotate(2deg);
    }
    .img1R {
      top: 2%;
      right: 1%;
      transform: rotate(3deg);
    }
    .img2R {
      top: 25%;
      right: 4%;
      transform: rotate(-1deg);
    }
    .img3R {
      top: 50%;
      right: 1%;
      transform: rotate(-4deg);
    }
    
}

/*
@media screen and (min-width: 767px) and (orientation : landscape) {
    body {
        background-color: navy;
    }
    .bg {
        height: 90vh; 
        background-size: cover;
        margin: 0 auto;
    }
    .infoContainer {
    display: none; 
    }


    .infoContainerWideScreen {
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline;
        max-width: 950px;
        width: 500px;
        height: 95vh;
    }

    .infoTextWideScreen {
        position: absolute;
        bottom: 20px;
        left: 20px;        
        background-color: #dec235;
        padding: 20px;
        background-image: url("./images/green-dust-and-scratches.png");
        font-weight: 500;
        line-height: 1.4em;
        font-size: 1.2em;
        height: 60vh;
        width: 300px;
    }

    .loginbtn {
        background-color: #3B2974;
        color: white;
        padding: 10px;
        font-family: intro, 'Covered By Your Grace', cursive;
        line-height: 1.1em;
        font-weight: lighter;
        font-size: 2.5vw;
        border: none;
        cursor: pointer;
    }
    .homeimg1 {
      z-index: 1;
      position: absolute;
      top: 0px;
      left: -20px;
      border: 5px solid white;
      border-radius: 4px;
      width: 25vw;
      transform: rotate(-2deg);
    }
    .homeimg2 {
      z-index: 1;
      position: absolute;
      bottom: -20px;
      right: -20px;
      border: 5px solid white;
      border-radius: 4px;
      width: 400px;
      transform: rotate(-2deg);
    }
    
}*/