html {
  position: relative;
  min-height: 100%
}
.test{background-color: magenta;}

.homepagemain {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.bg {
  background-image: url('./images/silverton.jpg');
  width: 100vw;
  height: 80vh;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  clear: both;
  margin: -160px 0 100px;
    /* bottom = footer height */
}

header {
  top: 0;
  text-align: center;
  display: block;
}

#trailTimeLogoHomePage{
  display: block;
  max-width:90%;
  width: auto;
  margin: auto;
  left: 50vw;
}
/*400,400i,500,500i,600,600i,700,700i,800,800i,900,900i*/
.homePageInfo {
  background-color: #D1B44D;
  background: rgba(209, 180, 70, 0.6);
  bottom: 20px;
  padding: 20px;
  max-width: 80vw;
  width: auto;
  position: relative;
  margin: 0 auto;
  align-items: center
  /*margin-top: 300px;
  margin-left: 20px;
  margin-right: 20px;*/
}

.info {
  font-weight: 500;
  line-height: 1.4em;
}

.loginbtn {
  background-color: #3B2974;
  color: white;
  padding: 10px;
  font-family: intro, 'Covered By Your Grace', cursive;
  line-height: 1.1em;
  font-weight: lighter;
  font-size: 150%;
  border: none;
  cursor: pointer;
}


.footerIntroHomePage {
    border-top: 2px solid #D1B44D;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    clear: both;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    font-size: .8em;
    height: 100px;
    overflow: hidden;
}

.footerIntroHomePage {
    border-top: 2px solid #D1B44D;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    clear: both;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    font-size: .8em;
}


