.imgfeature {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  object-fit: contain;
}

.detailpageinfo {
  background-color: white;
  max-width: 80vw;
  margin: auto;
  font-size: 1.1em;
  padding: 20px;
}

h1 {
  font-family: intro, montserrat, sans-serif;
  font-weight: lighter;
  line-height: 1.1em;
}

p {
  margin-top: -10px;
}

