.img {
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 20px;
  object-fit: cover;
}

.detailpageinfo {
  background-color: white;
  max-width: 50vw;
  font-size: 1.1em;
  padding: 20px;
}

h1 {
  font-family: intro;
  font-weight: lighter;
}

p {
  margin-top: -10px;
}

