

.img {
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 20px;
  object-fit: cover;
}

.detailpageinfo {
  background-color: white;
  max-width: 50vw;
  font-size: 1.1em;
  padding: 20px;
}

h1 {
  font-family: intro;
  font-weight: lighter;
}

p {
  margin-top: -10px;
}


.hr {
		height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}
hr.style11 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}


hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}