.info-container {
    margin-top: -150px;
}

.imgfeature {
  max-width: 85vw;
  margin: 0 auto;
  position: relative;
  z-index: -5;
}

.detailpageinfo {
  background-color: white;
  max-width: 80vw;
  margin: auto;
  font-size: 1.1em;
  padding: 20px;
}

h1 {
  font-family: intro, montserrat, sans-serif;
  font-weight: lighter;
  line-height: 1.1em;
}

p {
  margin-top: -10px;
}

.hr {
    height: 6px;
    background: url('./hr-line.svg') repeat-x;
    border: 0;
    width: 20vw;
}

@media screen and (orientation: landscape) {
  .imgfeature {
  max-width: 80vw;
}
}
@media screen and (min-width: 767px) {
  .info-container {
    margin-top: -40px;
  }
}

@media screen and (min-width: 1024px) {
  .info-container {
    margin-top: -10px;
  }
}