.imgfeature {
  max-width: 80vw;
  margin: 0 auto;
  position: relative;
  z-index: -5;
}



.detailpageinfo {
  background-color: white;
  max-width: 80vw;
  margin: auto;
  font-size: 1.1em;
  padding: 20px;
}

h1 {
  font-family: intro, montserrat, sans-serif;
  font-weight: lighter;
  line-height: 1.1em;
}

p {
  margin-top: -10px;
}

.hr {
  height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 1px;
  width: 20vw;
}

.main {
  margin-top: 80px;
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .main {
    margin-top: 40px;
  }
}

@media screen and (orientation: landscape) {
  .imgfeature {
    max-height: 70vw;
  }
}