body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

@font-face {
  font-family: 'bourbon';
  src: local('bourbon'), url(./fonts/bourbongrotesque-regular1-webfont.woff) format('woff');
}

@font-face {
  font-family: 'intro';
  src: local('intro'), url(./fonts/introrustg-base2line-webfont.woff) format('woff');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
